.breadcrumbs {
	display: flex;
	margin-bottom: 30px;
	font-size: 14px;
	&__item {
		&:after {
			content: "\\";
			padding: 0 10px;
			color: $main-gray-color;
		}
		&:last-of-type {
			font-weight: 600;
			&:after {
				content: '';
				padding-right: 0;
			}
		}
		&-link {
			color: $main-gray-color;
			&:hover {
				color: $black-color;
			}
		}
	}
}

.left-nav {
	&__current-category {
		margin-bottom: 25px;
		text-transform: capitalize;
	}
	&__list {
		&-name {
			display: flex;
			align-items: center;
			cursor: pointer;
			&:before {
				content: '';
				margin-right: 10px;
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3.5px 0 3.5px 6px;
				border-color: transparent transparent transparent $black-color;
			}
		}
		&-item {
			margin-bottom: 20px;
			&.opened {
				.left-nav__sublist {
					display: flex;
				}
				.left-nav__list-name {
					&:before {
						border-width: 6px 3.5px 0 3.5px;
						border-color: $black-color transparent transparent transparent;
					}
				}
			}
		}
	}
	&__sublist {
		display: none;
		flex-direction: column;
		margin: 20px 0 0 30px;
		&-item {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
			&.active {
				.left-nav__sublist-link {
					color: $blue-color;
					font-weight: 500;
				}
			}
		}
		&-link {
			color: #939292;
			&:before {
				content: '-';
				padding-right: 5px;
			}
		}
	}
}