.control-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	&__wrap {
		display: flex;
	}
	&__select-wrap {
		margin-right: 15px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__toggle-view {
		&-btn {
			opacity: .3;
			background-color: $white-color;
			font-size: 26px;
			transition: .2s;
			&:hover {
				opacity: .7;
			}
			&.active {
				opacity: 1;
			}
		}
	}
	&__select {
		padding: 10px;
		border-color: $main-gray-color;
		border-radius: 3px;
	}
}